10_WillShprSonnets_Challenge/Shakespeare Sonnet Template-empty.ipynb
Section_15_CoinTossSim/Plots/Hist1001Mil.png
Section_15_CoinTossSim/Plots/Hist100100.png
Section_15_CoinTossSim/Plots/Hist1001000.png
Section_15_CoinTossSim/Plots/Hist10010000.png
Section_27_Data_Vis/157_dataviz.ipynb
Section_27_Data_Vis/output/2_ys.png
Section_27_Data_Vis/output/3Normal30Bins.png
Section_27_Data_Vis/output/AllSales.png
Section_27_Data_Vis/output/AllSalesHor.png
Section_27_Data_Vis/output/AllSalesHorStckd.png
Section_27_Data_Vis/output/AllSalesStckd.png
Section_27_Data_Vis/output/AllSalesStckdd.png
Section_27_Data_Vis/output/appleStcPlt.png
Section_27_Data_Vis/output/BubbleChart.png
Section_27_Data_Vis/output/histNormalDist.png
Section_27_Data_Vis/output/PenguinsAgain.png
Section_27_Data_Vis/output/PenguinsAgainHueSpecies.png
Section_27_Data_Vis/output/PenguinsAgainHueSpecieStyleSexs.png
Section_27_Data_Vis/output/snsRelFlipBod.png
Section_27_Data_Vis/output/snsScattFlipBod.png
Section_27_Data_Vis/output/stocks_ln_plt_lbls_lgndFalse.png
Section_27_Data_Vis/output/stocks_ln_plt_lbls.png
Section_27_Data_Vis/output/stocks_ln_plt.png
Section_27_Data_Vis/output/stocksAreaStacked.png
Section_27_Data_Vis/output/stocksAreaUnStacked.png
Section_27_Data_Vis/output/stocksLongPlot.png
Section_27_Data_Vis/output/TVSales.png
Section_28_MLOLSLinReg/Output/lmsplotFlengthBmass.png
Section_29_LogisticRegression/output/lmplot_Student_1.png
Section_29_LogisticRegression/output/lmplot_Student_2.png
Section_29_LogisticRegression/output/relplot_students.png
Section_29_LogisticRegression/output/student_jntplt_1.png
Section_29_LogisticRegression/output/Confusion_Plot.png
Section_29_LogisticRegression/output/ConfusionMatrix_Iris_Test.png
Section_29_LogisticRegression/output/ConfusionMatrix_Iris_Train.png
Section_29_LogisticRegression/output/ConfusionMatrix_Iris.png
Section_29_LogisticRegression/output/ConfusionPlotCat.png
Section_30_LinnearDiscriminantAn/MNISTPairplotSample100LblOnly.png
Section_30_LinnearDiscriminantAn/MNISTPairplotSample200.png
Section_30_LinnearDiscriminantAn/WineConfusionMatrix.png
Section_30_LinnearDiscriminantAn/WineConfusionMatrix2ndway.png
Section_30_LinnearDiscriminantAn/output/ConfMatrMnist.png
Section_30_LinnearDiscriminantAn/output/image_1MNIST.png
Section_30_LinnearDiscriminantAn/output/image_2MNIST.png
Section_30_LinnearDiscriminantAn/output/image_3MNIST.png
Section_30_LinnearDiscriminantAn/output/MnistPairPlot.png
Section_30_LinnearDiscriminantAn/output/new_xRelPlot.png
Section_30_LinnearDiscriminantAn/output/PairPlot_Wine.png
Section_31_PrincipleCompAnlss/output/Happiness_relplotLine.png
Section_31_PrincipleCompAnlss/output/Iris_transform_pairplot.png
Section_31_PrincipleCompAnlss/output/Iris_transform_pairplotCnr.png
Section_31_PrincipleCompAnlss/output/IrisRelplot_1.png
Section_31_PrincipleCompAnlss/output/IrisRelplot_2CumSum.png
Section_31_PrincipleCompAnlss/output/relplotHappiness.png
Section_31_PrincipleCompAnlss/output/relplotHappiness10.png
Resources/Section_30_LinnearDiscriminantAn/mnist.csv
Resources/Section_30/mnist.csv
Resources/Section_31/2019-world-happiness-report.csv
Section_32_KmeansClusterinAnal/output/happinessrel0.png
Section_33_KNearestNbour/output/Penguins_relplot_testset.png
Section_33_KNearestNbour/output/Penguins_relplot_trainSetGrid.png
Section_33_KNearestNbour/output/Wine_conf_mat_X_test.png
Section_33_KNearestNbour/output/Wine_conf_mat.png
