10_WillShprSonnets_Challenge/Shakespeare Sonnet Template-empty.ipynb
Section_15_CoinTossSim/Plots/Hist1001Mil.png
Section_15_CoinTossSim/Plots/Hist100100.png
Section_15_CoinTossSim/Plots/Hist1001000.png
Section_15_CoinTossSim/Plots/Hist10010000.png
Section_27_Data_Vis/157_dataviz.ipynb
Section_27_Data_Vis/output/2_ys.png
Section_27_Data_Vis/output/3Normal30Bins.png
Section_27_Data_Vis/output/AllSales.png
Section_27_Data_Vis/output/AllSalesHor.png
Section_27_Data_Vis/output/AllSalesHorStckd.png
Section_27_Data_Vis/output/AllSalesStckd.png
Section_27_Data_Vis/output/AllSalesStckdd.png
Section_27_Data_Vis/output/appleStcPlt.png
Section_27_Data_Vis/output/BubbleChart.png
Section_27_Data_Vis/output/histNormalDist.png
Section_27_Data_Vis/output/PenguinsAgain.png
Section_27_Data_Vis/output/PenguinsAgainHueSpecies.png
Section_27_Data_Vis/output/PenguinsAgainHueSpecieStyleSexs.png
Section_27_Data_Vis/output/snsRelFlipBod.png
Section_27_Data_Vis/output/snsScattFlipBod.png
Section_27_Data_Vis/output/stocks_ln_plt_lbls_lgndFalse.png
Section_27_Data_Vis/output/stocks_ln_plt_lbls.png
Section_27_Data_Vis/output/stocks_ln_plt.png
Section_27_Data_Vis/output/stocksAreaStacked.png
Section_27_Data_Vis/output/stocksAreaUnStacked.png
Section_27_Data_Vis/output/stocksLongPlot.png
Section_27_Data_Vis/output/TVSales.png
